<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rynkbit.tk.coffeelist">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:theme"
        android:name="androidx.multidex.MultiDexApplication">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.item.ItemActivity" />
        <activity
            android:name=".ui.admin.user.ManageUserActivity"
            android:label="@string/title_activity_manage_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.admin.item.ManageItemsActivity"
            android:label="@string/title_activity_manage_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity"
            android:theme="@style/DirectoryChooserTheme" />
        <activity android:name=".ui.admin.invoice.InvoiceActivity" />
        <activity
            android:name=".ui.admin.edit.mvc.EditNamedObjectActivity"
            android:label="@string/title_activity_edit_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.admin.item.advanced.mvc.EditItemsActivity"
            android:label="@string/title_activity_edit_items"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>